.bg-dark {
    background-color: #37517E !important;
}

.dropdown-item {
    color: #000 !important;
}

.mainNav {
    height: 4rem;
}

.loginBtn {
    margin: 0;
    padding: 0;
    border: 1px solid white;
    border-radius: 5px;
}

@media only screen and (max-width: 992px) {
    .loginBtn {
        margin: 0;
        padding: 0;
        border: none;
        border-radius: none;
    }
  }