.star-rating {
  margin-left: 10px;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}
